.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px
}