.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px
}